<div class="dashboard row">
    <div class="container-fluid">

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Profile</h4>
                </div>

                <div class="card-body" style="margin: 0px;padding: 0px">
                    <img src="/images/profile.jpg" width="100%" class="rounded" />

                    <ul class="list-group text-center">
                        <li class="list-group-item active">Name</li>
                        <li class="list-group-item">Designation</li>
                        <li class="list-group-item">Team Name</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-9">

        </div>
    </div>
</div>