<div class="dashboard row">
    <div class="container-fluid row">

        <div class="col-md-3">
            <div class="card profile-card">
                <div class="card-header">
                    <h4>Profile</h4>
                </div>

                <div class="card-body">
                    <center>
                        <img src="/images/profile.jpg" class="rounded-circle pro-pic" />
                    </center>


                    <ul class="list-group text-center">
                        <li class="list-group-item "> <a href="#">
                                <i class="fa fa-id-card"></i>
                                Name </a></li>

                        <li class="list-group-item "> <a href="#">
                                <i class="fa fa-crop"></i>
                                Designation </a></li>

                        <li class="list-group-item "> <a href="#">
                                <i class="fa fa-users"></i>
                                Team </a></li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-9">

            <div class="row">
                <div class="col-md-6">
                    <div class="card">


                        <div class="card-body">
                            <h4>Projects</h4>
                            <hr>

                            <div class="card single-project">


                                <div class="card-body">
                                    <h5>Project Title</h5>
                                    <p>Details</p>
                                </div>


                            </div>


                            <div class="card single-project">


                                <div class="card-body">
                                    <h5>Project Title</h5>
                                    <p>Details</p>
                                </div>


                            </div>


                            <div class="card single-project">


                                <div class="card-body">
                                    <h5>Project Title</h5>
                                    <p>Details</p>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card">


                        <div class="card-body">
                            <h4>Shared Projects</h4>
                            <hr>

                            <div class="card single-project">


                                <div class="card-body">
                                    <h5>Project Title</h5>
                                    <p>Details</p>
                                </div>


                            </div>


                            <div class="card single-project">


                                <div class="card-body">
                                    <h5>Project Title</h5>
                                    <p>Details</p>
                                </div>


                            </div>


                            <div class="card single-project">


                                <div class="card-body">
                                    <h5>Project Title</h5>
                                    <p>Details</p>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>